<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxeet.reactnative">

    <!-- VOXEET PERMISSIONS - WARNING: THERE MAY BE DUPLICATES - no expected issues -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:supportsRtl="true">
        <provider
            android:name="com.voxeet.reactnative.manifests.RNVoxeetManifestComponent"
            android:authorities="${applicationId}.manifests.RNVoxeetManifestComponent"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.voxeet.reactnative.notification.InvitationAcceptedBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
        <activity android:name="com.voxeet.reactnative.notification.RNIncomingCallActivity" />
        <activity android:name="com.voxeet.reactnative.specifics.BounceVoxeetActivity" />
<!--         <meta-data android:name="voxeet_incoming_class" android:value="com.voxeet.rn.notification.RNIncomingCallActivity" />
 -->
        <meta-data android:name="voxeet_incoming_class" android:value="com.voxeet.reactnative.specifics.BounceVoxeetActivity" />
        <!--<meta-data android:name="voxeet_incoming_accepted_class" android:value="com.testappvoxeet.MainActivity" />-->
    </application>

</manifest>
  
