<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voxeet">

    <application android:supportsRtl="true">
        <provider
            android:name="com.voxeet.rn.manifests.RNVoxeetManifestComponent"
            android:authorities="${applicationId}.manifests.RNVoxeetManifestComponent"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".notification.RNIncomingCallActivity" />
        <activity android:name=".specifics.BounceVoxeetActivity" />
    </application>

</manifest>
  